.box-color{
    background-color: #212F46;
    line-height: 2;
    color: #fff;
    font-size: 18px;
    
}

.btn{
    margin: 15px;
    color: #212F46;
    padding: 5px 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #aecbfb;
    color: #333;
}
