.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}
a{
    margin-left: 2rem;
}
.navbar{
    position: relative;
}
.link{
    margin-right: 2rem;
}
